@use '../abstracts' as vars;

footer {
  display: flex;
  justify-content: space-around;
  margin: 5% auto 0 auto;
  max-width: 1440px;
  background-color: vars.$primary-color;
  .footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    @extend %main-size;
    .ft-left {
      display: flex;
      gap: 3rem;
      img {
        width: 60px;
        height: 32px;
        margin: 5px;
      }
    }
  }
}
.contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 3% auto;
  @extend %main-size;
  min-height: 200px;
  h2 {
    max-width: 370px;
  }
}