@use '../abstracts' as m;

.nav-bar__header {
  display: flex;
  justify-content: space-between;
  margin: .3rem auto;
  max-width: 1110px;
  img {
    width: max-content;
  }
  .itens__nav-bar {
    display: flex;
    list-style: none;
    gap: 30px;
    a {
      @include m.font-config(12px, 14px);
      display: block;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .itens {
    display: flex;
    list-style: none;
    gap: 30px;
    a {
      @include m.font-config(12px, 14px);
      display: block;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}