@use '../abstracts' as vars;
.links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  min-width: 24.4rem;
  .links {
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }
  a {
    text-decoration: none;
    &:visited {
      color: vars.$primary-color;
    }
    &:hover,
    &:focus,
    &:focus-visible {
      outline-color: vars.$primary-color;
      text-shadow: 6px 3px 7px rgba(51,50,61,0.85);
    }
  }
}
