@use '../abstracts' as vars;

.main-container {
  img {
    width: 100%;
  }
}
.project-container {
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.project-text {
  flex: 50%;
  width: 100%;
  padding: 1rem;
  h2,
  p {
    padding: 20px 0;
    max-width: 350px;
  }
  img {
    margin: 5px 0;
    width: 100%;
  }
  a {
    margin: 2rem 0;
  }
  .interaction-links {
    width: 30rem;
    [role="link"] {
      margin: 1rem 0;
      text-decoration: none;
      @include vars.text-color(vars.$secondary-color);
    }
  }
}
.left-column {
  max-width: 100%;
}
.footer-links {
  width: min(100%, 1110px);
  margin: {
    left: auto;
    right: auto;
  }
}
