@use '../abstracts' as *;

.icon-btn {
  @extend %btn-base;
  align-items: center;
  padding: 0;
  @include text-color;
  background-color: $auxiliar-color;
  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $secondary-color !important;
  }
}
.button__icon,
.button__text {
  display: block;
  align-items: center;
  font-size: 1rem;
  padding: 0 2rem;
  color: #fff;
}
.button__icon {
  content: url('/assets/icons/down-arrows.svg');
  padding: 1rem;
  background-color: #00000014;
}
.btn-home-overlay {
  position: absolute;
  left: .4rem;
  bottom: 0;
}
.btn-primary {
  @extend %btn-base;
  width: 200px;
  margin: auto;
  @include set-border;
  @extend %btn-primary-hover;
}
.btn-contact {
  @extend %btn-base;
  @extend %btn-primary-size;
  margin: auto 0;
  @extend %btn-primary-hover;
}
.btn-link-header {
  @extend %btn-base;
  @extend %btn-link-hover;
}
.current-link {
  @extend .btn-link-header;
  color: $secondary-color;
}
.btn-link-footer {
  @extend %btn-base;
  color: #fff;
  @extend %btn-link-hover;
}
.btn-send {
  @extend %btn-base;
  @extend %btn-primary-size;
  color: #fff;
  background-color: $auxiliar-color;
  &:hover {
    border: none;
    background-color: $secondary-color;
  }
}