@use './variables' as vars;

@mixin heading-font-family {
  font-family: vars.$headings-ff;
}
@mixin font-config($size, $line-h: normal, $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-h;
}
@mixin text-color($color: #ffffff) {
  color: $color;
}
@mixin text-center($pos: center) {
  text-align: $pos;
}
@mixin display-flex {
  display: flex;
}
@mixin justify-content-center {
  justify-content: center;
}
@mixin justify-space-between {
  justify-content: space-between;
}
@mixin justify-space-around {
  justify-content: space-around;
}
@mixin horizontal-list {
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
  }
}
@mixin set-border($size: 1px, $type: solid, $color: vars.$primary-color) {
  border: $size $type $color;
}
@mixin devices ($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 920px) {
      @content;
    }
  }

  @if $breakpoint == landscape {
    @media only screen and (min-width: 880px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}