@use './mixin';
@use './variables.scss' as vars;

%btn-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}
%btn-primary-size {
  width: 14.5rem;
  height: 4rem;
  @include mixin.set-border;
}
%btn-primary-hover {
  &:hover,
  &:focus,
  &:focus-visible {
    @include mixin.text-color;
    background-color: vars.$button-primary;
  }
}
%btn-link-hover {
  &:hover,
  &:focus,
  &:focus-visible {
    @include mixin.text-color(vars.$secondary-color);
  }
}
%main-size {
  width: 100%;
  max-width: 1110px;
}