$green-sheen-hover: #5fb4a218;
$auxiliar-color: #203a4c;
$japanese-indigo-hover: rgba(32, 58, 76, 0.173);
$lotion: #FAFAFA;
$bright-gray: #EAEAEB;

$headings-ff: 'Ibarra Real Nova', serif;

$primary-color: #33323D;
$secondary-color: #5FB4A2;
$auxiliar-color: #203a4c;

$button-primary: #33323D;
$button-auxiliar-bg-color: #203a4c;

$page-bg-color: #F2F2F2;

$back-ground-secondary-very-light-grey: $lotion;
$input-secondary-light-grey: $bright-gray;