#contacte-me-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin: 2rem 1rem;
  width: 100%;
  h2 {
    min-width: 400px;
    margin-bottom: 3rem;
  }
  ul {
    margin: 3rem 0;
  }
}
#section-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-bottom: 2vh;
  width: 100%;
  h2 {
    margin: 2rem 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    label {
      margin-bottom: 0.7rem;
    }
    input {
      height: 4.33rem;
    }
    textarea {
      resize: none;
      overflow: auto;
    }
  }
}

.contact-left-column {
  flex: 50%;
}
.contact-right-column {
  display: flex;
  flex-flow: column wrap;
  flex: 50%;
  min-height: 355px;
  max-width: 380px;
}
