@use '../abstracts' as vars;
@use '../base';

.perfil-container {
  position: relative;

  h1 {
    padding: .5rem;
  }
  .bottom-left {
    bottom: 0px;
    left: 0;
    position: absolute;
    max-width: 35%;
    height: 50%;
    background-color: white;
  }
}
.about-container {
  display: flex;
  margin-top: max(8vh, 2rem);
  max-width: 1110px;
}
.about-content {
  flex: 50%;
  max-width: 540px;
  img {
    width: 100%;
  }
}
.about-text {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  text-align: left;
  margin: .5rem;
  .about-me-title {
    margin: 30px 0 30px 0;
  }
}
@include vars.devices(desktop) {
  .about-text {
    border-top: 1px solid vars.$primary-color;
    border-bottom: 1px solid vars.$primary-color;
  }
  .about-container {
    justify-content: space-between;
    width: 1110px;
  }
}
@include vars.devices(tablet) {
  .perfil-container {
    .bottom-left {
      max-width: 30%;
      height: 45%;
    }
  }
}
@include vars.devices(mobile) {
  .perfil-container {
    .bottom-left {
      max-width: 40%;
      height: 70%;
    }
  }
  .about-container {
    flex-direction: column;
  }
}