@media screen and (max-width: 920px) {
  .col-1 {
    order: 1;
  }
  .col-2 {
    order: 2;
  }
  .col-3 {
    order: 4;
  }
  .col-4 {
    order: 3;
  }
  .col-5 {
    order: 5;
  }
  .col-6 {
    order: 6;
  }
  .col-7 {
    order: 8;
  }
  .col-8 {
    order: 7;
  }
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: {
    left: auto;
    right: auto;
  }
  text-align: left;
  width: 100%;
  max-width: 540px;
  height: auto;
  padding: 1vw;
  p {
    max-width: 390px;
  }
}
.portfolio-title {
  margin: 30px 0;
}
.portfolio-content {
  flex: 1 1 540px;
  justify-items: center;
  img {
    width: 100%;
  }
}
