@use "../abstracts" as vars;

input,
textarea {
  outline: none;
  background-color: #e6e6e6;
  border: 0;
  padding: 8px;
  margin-bottom: 24px;
  &:focus-visible {
    outline: 2px solid vars.$primary-color;
  }
}
.heading-sm {
  @include vars.font-config(2rem, 2.25rem);
}
.heading-mid {
  @include vars.font-config(3rem, 2.625rem, 700);
}
.heading-big {
  @include vars.font-config(clamp(1.2rem, 2vw + 1rem, 7rem), normal, 700);
}
.main-1 {
  @include vars.font-config(1.45rem, 3rem);
}
.main-2 {
  @include vars.font-config(15px, 30px);
}
.justify {
  text-align: justify;
}
.row{
  flex-direction: row !important;
}
.main__flex-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: min(100%, 1110px);
  max-width: 1110px;
  margin: {
    left: auto;
    right: auto;
  }
}
@media only screen and (min-width: 600px) {
  .main__flex-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: normal;
    width: min(100%, 1110px);
    max-width: 1110px;
    margin: {
      left: auto;
      right: auto;
    }
  }
}
.border-top {
  border-top: 1px solid vars.$primary-color;
}
.border-bottom {
  border-bottom: 1px solid vars.$primary-color;
}
.horizontal-list {
  display: inline-flex;
  align-items: center;
  list-style: none;
  color: white;
  gap: 20px;
}

.horizontal-list li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.show-img-880 {
  display: none;
}
@include vars.devices(landscape) {
  .show-img-880 {
    display: block;
  }
}
