@use '../abstracts' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  color: vars.$primary-color;
}

html {
  font-size: 65.5%;
}
body {
  background-color: vars.$page-bg-color;
}
h1,
h2,
h3 {
  @include vars.heading-font-family;
  font-size: 10rem;
}
img {
  width: 100%;
}